@import "~shared/config/breakpoints.scss";

.preview {
  height: 72vw;
  border: 1px solid #aaaaaa;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  cursor: zoom-in;

  &::after {
    content: "";
    background-image: url(~shared/assets/icons/svg/zoom.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    //   background-image: url('data:image/svg+xml, \
    //   <svg \
    //     width="18" \
    //     height="18" \
    //     xmlns="http://www.w3.org/2000/svg" \
    //   > \
    //     <path \
    //       fill-rule="evenodd" \
    //       clip-rule="evenodd" \
    //       d="m16.646 17.354-4-4 .708-.707 4 4a.5.5 0 0 1-.708.707Z" \
    //     /> \
    //     <path \
    //       d="M7.5 4.5v3h-3v1h3v3h1v-3h3v-1h-3v-3h-1Z" \
    //     /> \
    //     <path \
    //       fill-rule="evenodd" \
    //       clip-rule="evenodd" \
    //       d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16Z" \
    //     /> \
    //   </svg> \
    // ');
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    fill: #000;
    // background: #eee;
    border-top-right-radius: 20px;
  }

  @media (min-width: $breakpoint_md) {
    margin-top: 0;
    height: 260px;
  }

  @media (min-width: $breakpoint_lg) {
    height: 350px;
  }

  @media (min-width: $breakpoint_xl) {
    height: 400px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media (min-width: $breakpoint_lg) {
      transition: all 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
