@import '~shared/config/breakpoints.scss';

section {
  .wrapper {
    padding: 20px 15px;
    margin: 0 auto;
    max-width: var(--max_width);
    display: var(--display);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    flex-wrap: wrap;
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;

    @media (min-width: $breakpoint_lg) {
      font-size: 34px;
    }

    @media (min-width: $breakpoint_xl) {
      font-size: 40px;
    }
  }

  .copy {
    margin-top: 20px;

    @media (min-width: $breakpoint_lg) {
      font-size: 18px;
    }

    @media (min-width: $breakpoint_xl) {
      margin-top: 30px;
      font-size: 20px;
    }
  }

  .links {
    display: flex;
    gap: 5px;
    margin-top: 20px;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $breakpoint_md) {
      margin-right: 20px;
    }
  }

  .link {
    display: block;
    height: 44px;
    margin-top: 15px;
  }
}
