@import '~shared/config/breakpoints.scss';

.progress_bar {
  position: fixed;
  top: var(--height_header_xs);
  z-index: var(--z-index_progress-bar);
  width: 0;
  height: 2px;
  background: #222;

  @media (min-width: $breakpoint_lg) {
    top: calc(var(--height_header_lg) - 2px);
  }
}
